Source: indy-cli-rs
Section: devel
Priority: optional
Maintainer: Hyperledger Aries Contributors <aries@lists.hyperledger.org>
Standards-Version: 1.0.0
Vcs-Git: https://github.com/hyperledger/indy-cli-rs.git/
Vcs-Browser: https://github.com/hyperledger/indy-cli-rs.git/

Package: indy-cli-rs
Architecture: amd64
Depends: libncursesw5-dev
Suggests: build-essential
Description: This is  command line interface for Indy,
  which provides a distributed-ledger-based foundation for self-sovereign
  identity.
